{% extends "./base.html.twig" %}
{% block title %} SymRecipe - Accueil {% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur SymRecipe</h1>
            <p class="lead">Symrecipe est une application qui va te permettre de créer des recettes à base d'ingrèdients que tu
                auras toi-meme créer. Tu pourras partager tes recettes à la communauté du site, ou bien les garder en privèes.</p>
            <hr class="my-4">
            <p>Pour Commencer, rendez-vous sur la page d'inscription pour utiliser l'aaplication.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
            </p>
        </div>
    </div>

{% endblock %}

